// @import url('src/css/projectometer/colors.scss');

.q-field--standard .q-field__control:before {
    border-bottom: none !important;
}

.clendar-horizontal-hover:hover {
    box-shadow: 0px 0px 0.4rem 0.1rem $xxLila;
    -webkit-box-shadow: 0px 0px 0.4rem 0.1rem $xxLila;
    -moz-box-shadow: 0px 0px 0.4rem 0.1rem $xxLila;

    -webkit-transition: box-shadow 0.3s ease-in-out 0s;
    -moz-transition: box-shadow 0.3s ease-in-out 0s;
    transition: box-shadow 0.3s ease-in-out 0s;
}
