// @import url('src/css/projectometer/colors.scss');

.calendar-container {
    margin: 6.5rem 2rem 0rem 2rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}

.bg-calendar-aside {
    background-color: $xxBlack05;
    -webkit-border-top-left-radius: 0.5rem;
    -webkit-border-bottom-left-radius: 0.5rem;
    -moz-border-radius-topleft: 0.5rem;
    -moz-border-radius-bottomleft: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.bg-calendar-calendar {
    background-color: $xxBlack20;
    -webkit-border-top-right-radius: 0.5rem;
    -webkit-border-bottom-right-radius: 0.5rem;
    -moz-border-radius-topright: 0.5rem;
    -moz-border-radius-bottomright: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.bg-calendar-report {
    background-color: $xxBlack20;
    -webkit-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
}
