$xxBlack: #000000; // for Black Color
$xxWhite: #ffffff; // for White color

$xxBlack80: #424242; // Black 80%
$xxBlack60: #666666; // Black 60%
$xxBlack40: #999999; // Black 40%
$xxBlack20: #cccccc; // Black 20%
$xxBlack10: #e6e6e6; // Black 10%
$xxBlack05: #f2f2f2; // Black 05%
$xxBlack02: #fafafa; // Black 02%

$xxTurkis: #46dcff; // Bonus Color Turkis
$xxLila: #8ca5ff; // Bonus Color Lila
$xxYellow: #ebff59; // Bonus Color Yellow

// Signal Color for Light color Background:
$xxRed-LB: #eb0032; // Signal Color Red for Light Background
$xxOrange-LB: #e69600; // Signal Color Orange for Light Background
$xxGreen-LB: #008700; // Signal Color Green for Light Background

// Signal Color for Dark color Background:
$xxRed-DB: #ff2850; // Signal Color Red for Dark Background
$xxOrange-DB: #ffb900; // Signal Color Orange for Dark Background
$xxGreen-DB: #00aa00; // Signal Color Green for Dark Background
