$xxBlack : #000000; // for Black Color
$xxWhite : #FFFFFF; // for White color

$xxBlack80: #333333; // Black 80%
$xxBlack60: #666666; // Black 60%
$xxBlack40: #999999; // Black 40%
$xxBlack20: #CCCCCC; // Black 20%
$xxBlack10: #E6E6E6; // Black 10%
$xxBlack05: #F2F2F2; // Black 05%
$xxBlack02: #FAFAFA; // Black 02%

$xxTurkis: #46DCFF; // Bonus Color Turkis
$xxLila: #8CA5FF; // Bonus Color Lila
$xxYellow: #EBFF59; // Bonus Color Yellow

// Signal Color for Light color Background:
$xxRed-LB: #EB0032; // Signal Color Red for Light Background
$xxOrange-LB: #E69600; // Signal Color Orange for Light Background
$xxGreen-LB: #008700; // Signal Color Green for Light Background

// Signal Color for Dark color Background:
$xxRed-DB: #FF2850; // Signal Color Red for Dark Background
$xxOrange-DB: #FFB900; // Signal Color Orange for Dark Background
$xxGreen-DB: #00AA00; // Signal Color Green for Dark Background