* {
  margin: 0%;
  padding: 0%;
  font-family: 'Sen Regular';
}

.q-layout-header {
  background-color: #333333;
  box-shadow: 0rem .2rem .8rem .1rem #000000;
  display: flex;
  align-items: center;
  height: 5rem;
}


.fil0 {
  fill: $xxBlack02;
}


.logo {
  margin-top: 2%;
  max-height: 40%;
  max-width: 40%;
}

.pjMeter {
  color: #333333;
  font-size: 10vh;
  margin-top: -15rem;
}


.title {
  margin-top: .4rem;
  padding: .1rem;
}


.o-layout {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(51, 51, 51, 1) 100%);
}

.o-container {
  background-image: url("/icons/ex.svg");
  background-repeat: no-repeat;
  background-size: 70vw 70vh;
  background-position-x: center;
  background-position-y: 12rem;
}


.text-body {
  background-color: #000000;
}


.avatar-logo {
  margin-left: .5rem;
}

.sq-btn {
  width: 2.5rem;
  height: 2.5rem;
  margin: .5rem;
  justify-content: left;

  background-color: $xxBlack80;
}

.q-ma-sm {
  margin: 0%;
}

.user-data-style {
  font-size: .8rem;
  height: 1.2rem;
}


.user-data-style-user {
  font-size: .8rem;
  height: 1.2rem;
  margin-top: .6rem;
}

.q-btn-style {
  line-height: unset;
  width: max-content;
  margin-right: 1rem;
}


.txt-color {
  color: $xxBlack40;
}

.time-style {
  margin-top: .6rem;
  margin-left: 4.5rem;
  justify-items: center;
  color: $xxBlack20;
}

.date-style {
  margin-left: 4.5rem;
  justify-items: center;
  color: $xxBlack60;

}
